# dictionary

In [1]:
# creating an empty in dictionary 
py_dict = {}
print(py_dict)
print(type(py_dict))

{}
<class 'dict'>

In [2]:
# creating a dict  
py_dict = {"name" : "xyz"} # key ---> name and value ---> xyz
print(py_dict)
print(type(py_dict))

{'name': 'xyz'}
<class 'dict'>

# characteristics of dictionary

In [4]:
# mutable 
py_dict = {1 : "one", 2 : "two", "three" : 3} 
print(py_dict)
py_dict[1] = "ONE"
print(py_dict)  # one changed to ONE

{1: 'one', 2: 'two', 'three': 3}
{1: 'ONE', 2: 'two', 'three': 3}

In [ ]:
# unordered  : (before Python 3.7, order was not guaranteed; from Python 3.7+, insertion order is preserved).

In [8]:
# duplicate values but no duplicate keys 
py_dict = {"name" : "yashwanth", "age":20, "branch" : "CSE"}
print(py_dict)
py_dict["updated_age"] = 20 # new pair is added to the dict
print(py_dict)
py_dict["age"] = 21 # no pair added to dict but it modified the value of age
print(py_dict)

{'name': 'yashwanth', 'age': 20, 'branch': 'CSE'}
{'name': 'yashwanth', 'age': 20, 'branch': 'CSE', 'updated_age': 20}
{'name': 'yashwanth', 'age': 21, 'branch': 'CSE', 'updated_age': 20}

In [10]:
# accessing dictionary values using keys as index
py_dict = {"name" : "yashwanth", "age":20, "branch" : "CSE"} 
print(py_dict["name"])
print(py_dict["age"])
print(py_dict["branch"])

yashwanth
20
CSE

In [13]:
# slicing not supports

In [ ]:
# accessing values using get function

In [19]:
student1 = {
    "name":"yashwanth", 
    "age":21, 
    "branch":"CSE", 
    "marks": {
        "python":100, 
        "Java":99, 
        "javascript":98
    },
    "cgpa":9.0
}
print(student1.get("marks"))
print(student1.get("marks").get("python"))

{'python': 100, 'Java': 99, 'javascript': 98}
100

In [21]:
# adding values to the dictionary
student1["sgpa"] = 9.3 
print(student1)

{'name': 'yashwanth', 'age': 21, 'branch': 'CSE', 'marks': {'python': 100, 'Java': 99, 'javascript': 98}, 'cgpa': 9.0, 'sgpa': 9.3}

In [22]:
# adding in 2D 
student1["marks"]["c++"] = 50
student1

{'name': 'yashwanth',
 'age': 21,
 'branch': 'CSE',
 'marks': {'python': 100, 'Java': 99, 'javascript': 98, 'c++': 50},
 'cgpa': 9.0,
 'sgpa': 9.3}

In [29]:
# modifying the values in dictionary 
student1["marks"]["c++"] = 97
student1

{'name': 'yashwanth',
 'age': 21,
 'branch': 'CSE',
 'marks': {'python': 100, 'Java': 99, 'javascript': 98, 'c++': 97},
 'cgpa': 9.0,
 'sgpa': 9.3}

In [30]:
# deleting pair in dictionary 
del student1["marks"]["c++"]

In [31]:
student1

{'name': 'yashwanth',
 'age': 21,
 'branch': 'CSE',
 'marks': {'python': 100, 'Java': 99, 'javascript': 98},
 'cgpa': 9.0,
 'sgpa': 9.3}

In [33]:
# deleting entire dictionary 
del student1
student1

NameError: name 'student1' is not defined

In [34]:
# clearing all items in dict
student1 = {
    "name":"yashwanth", 
    "age":21, 
    "branch":"CSE", 
    "marks": {
        "python":100, 
        "Java":99, 
        "javascript":98
    },
    "cgpa":9.0
}
student1.clear()

In [35]:
student1

{}

# operations

In [36]:
# membership operations 
student1 = {
    "name":"yashwanth", 
    "age":21, 
    "branch":"CSE", 
    "marks": {
        "python":100, 
        "Java":99, 
        "javascript":98
    },
    "cgpa":9.0
}

In [37]:
"name" in student1   # it always checks the keys not the values

True

In [38]:
"yashwanth" in student1

False

In [39]:
"yashwanth" in student1.values() # now it is checks in values

True

In [40]:
"yashwanth" not in student1.values()

False

In [41]:
# loops 
for key,value in student1.items() : 
    print(key,"---->",value)

name ----> yashwanth
age ----> 21
branch ----> CSE
marks ----> {'python': 100, 'Java': 99, 'javascript': 98}
cgpa ----> 9.0

# dict functions

In [42]:
len(student1)

5

In [43]:
max(student1)

'name'

In [44]:
min(student1)

'age'

In [45]:
sorted(student1)

['age', 'branch', 'cgpa', 'marks', 'name']

In [48]:
sorted(student1.items())

[('age', 21),
 ('branch', 'CSE'),
 ('cgpa', 9.0),
 ('marks', {'python': 100, 'Java': 99, 'javascript': 98}),
 ('name', 'yashwanth')]

In [54]:
(student1.update(student1 = {
    "name":"chowdary", 
    "age":21, 
    "branch":"CSE", 
    "marks": {
        "python":100, 
        "Java":99, 
        "javascript":98
    },
    "cgpa":9.0
}))

In [55]:
student1

{'name': 'yashwanth',
 'age': 21,
 'branch': 'CSE',
 'marks': {'python': 100, 'Java': 99, 'javascript': 98},
 'cgpa': 9.0,
 'student1': {'name': 'chowdary',
  'age': 21,
  'branch': 'CSE',
  'marks': {'python': 100, 'Java': 99, 'javascript': 98},
  'cgpa': 9.0}}

In [62]:
# dictionary comprehension 
# print a table from 2 to 4
{i : {j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

# simple project on dictionary

In [ ]:
""" 
ðŸ›’ Grocery Store Billing System (Using Dictionary)
Project Explanation

This project stores grocery item names with their prices inside a dictionary.
The user enters items they want to purchase and the quantity.
The program calculates the total bill.
"""

In [65]:
# grocery items with prices 
current_items = {
    "Milk": 30,
    "Bread": 25,
    "Eggs": 6,
    "Rice": 60,
    "Oil": 120,
    "Sugar": 45
}

# user enter the items with comma 
customer_items = input("enter the present items with separated by comma : ")

customer_list = list(customer_items.split(",")) 

total_amount = 0 

for each_item in customer_list : 
    item = each_item.strip()   # remove extra spaces
    if item in current_items : 
        total_amount += current_items[item]
    else:
        print(item, "not available!")

print("customer items list : ", customer_list)
print("total amount : ", total_amount)

enter the present items with separated by comma :  Milk,Jaggery,Sugar

Jaggery not available!
customer items list :  ['Milk', 'Jaggery', 'Sugar']
total amount :  75