# sets

In [2]:
# creating empty set 
py_set1 = set() 
print(py_set1)
print(type(py_set1))

set()
<class 'set'>

In [3]:
# creating a set with one element 
py_set2 = {1} 
print(py_set2)
print(type(py_set2))

{1}
<class 'set'>

# set characteristics

In [4]:
# unordered 
py_set3 = {1,2,3,"A","B",4}
print(py_set3)

{1, 2, 3, 4, 'B', 'A'}

In [9]:
# mutable
py_set3.add((10,"B"))
print(py_set3)

{1, 2, 3, 4, 'B', (10, 'B'), 'A', 10}

In [6]:
# don't allows duplicate values
py_set4 = {1,2,3,1,2,3,1,2,3}
py_set4

{1, 2, 3}

In [7]:
# sets dont't allow mutables datatypes 
py_set5 = {1,2,3,4,{5,6,7}} # set is a mutable data structure
py_set5

TypeError: unhashable type: 'set'

In [ ]:
# accessing values from sets is not possible due to unordered not fixed positions. sets works based on hashing

In [ ]:
# modify values is not possible same reason

In [11]:
# adding elements using built-in functions 
py_set6 = {1,2,3,4}
py_set6.add(10)
print(py_set6)
py_set6.add((11,20,30))
py_set6

{1, 2, 3, 4, 10}

{(11, 20, 30), 1, 10, 2, 3, 4}

In [13]:
py_set6.update([100,200])
py_set6

{(11, 20, 30), 1, 10, 100, 2, 200, 3, 4}

In [14]:
# deleting elements 
py_set6.remove(10)
py_set6

{(11, 20, 30), 1, 100, 2, 200, 3, 4}

In [17]:
py_set6.remove(2000)
py_set6

KeyError: 2000

In [16]:
py_set6.discard(2000)
py_set6

{(11, 20, 30), 1, 100, 2, 200, 3, 4}

In [20]:
elem = py_set6.pop()
print(elem)
py_set6

3

{(11, 20, 30), 100, 200, 4}

In [22]:
py_set6.clear()
py_set6

set()

# set operations

In [26]:
# union (|)
set1 = {1,2,3,4}
set2 = {4,5,6,7}
set1 | set2

{1, 2, 3, 4, 5, 6, 7}

In [27]:
# intersection (&) 
set1 & set2

{4}

In [28]:
# difference (-)
set1 - set2

{1, 2, 3}

In [29]:
set2 - set1

{5, 6, 7}

In [30]:
# symmetric difference (^)
set1 ^ set2

{1, 2, 3, 5, 6, 7}

In [31]:
# membership 
set1 in set2

False

In [32]:
set1 not in set2

True

In [33]:
# loops 
for i in set1 : 
    print(i)

1
2
3
4

# set built-in functions

In [34]:
# union() 
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7}

In [35]:
set2.union(set1)

{1, 2, 3, 4, 5, 6, 7}

In [36]:
# intersection 
set1.intersection(set2)

{4}

In [37]:
# difference 
set1.difference(set2)

{1, 2, 3}

In [38]:
# symmetric difference 
set1.symmetric_difference(set2)

{1, 2, 3, 5, 6, 7}

In [40]:
# union update 
set1.update([10,20])
set1

{1, 2, 3, 4, 10, 20}

In [45]:
# inersection_update 
set1 = {1,2,3,4}
set2 = {4,6,7,8}
set1.intersection_update(set2)
print(set1)

{4}

In [46]:
# difference_update 
set1 = {1,2,3,4}
set2 = {4,6,7,8}
set1.difference_update(set2)
print(set1)

{1, 2, 3}

In [47]:
# symmetric_difference_update 
set1 = {1,2,3,4}
set2 = {4,6,7,8}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 3, 6, 7, 8}

# common functions on sets

In [49]:
print(sum(set1))
print(max(set1))
print(min(set1)) 
print(sorted(set1))

27
8
1
[1, 2, 3, 6, 7, 8]

In [50]:
# other functions 
set1.isdisjoint(set2)

False

In [51]:
set1.issubset(set2)

False

In [52]:
set1.issuperset(set2)

False

In [ ]:
# simple real world project on sets

In [63]:
customer1 = {"Milk", "Bread", "Eggs", "Butter"}
customer2 = {"Bread", "Eggs", "Rice", "Oil"}
customer3 = {"Eggs", "Bread", "Juice", "Butter"}

# items commonly purchased by all customers.
common_items = customer1.intersection(customer2, customer3)
print("Common items purchased by all customers:", common_items)

# total variety of items sold today (unique items overall)
total_variety_items = customer1.union(customer2, customer3)
print("Total variety of items sold today:", total_variety_items)

# Unique items bought by each customer.
print("Unique items bought by customer1:", customer1.difference(customer2, customer3))
print("Unique items bought by customer2:", customer2.difference(customer1, customer3))
print("Unique items bought by customer3:", customer3.difference(customer1, customer2))

Common items purchased by all customers: {'Eggs', 'Bread'}
Total variety of items sold today: {'Butter', 'Oil', 'Milk', 'Eggs', 'Bread', 'Rice', 'Juice'}
Unique items bought by customer1: {'Milk'}
Unique items bought by customer2: {'Rice', 'Oil'}
Unique items bought by customer3: {'Juice'}

In [ ]:
def read_customer_items(customer_name):
    raw = input(f"Enter items for {customer_name} separated by commas: ")
    # Normalize: strip whitespace and lowercase to avoid duplication errors
    items = {item.strip().lower() for item in raw.split(",") if item.strip()}
    return items

def main():
    print("Grocery Store: Unique Customer Items Tracker")
    
    # Read customers (example: 3 customers). Could be dynamic.
    c1 = read_customer_items("Customer 1")
    c2 = read_customer_items("Customer 2")
    c3 = read_customer_items("Customer 3")

    while True:
        print("\nMenu:")
        print("1. Items purchased by all customers (intersection)")
        print("2. All unique items sold today (union)")
        print("3. Items unique to a customer (difference)")
        print("4. Compare two customers (symmetric difference)")
        print("5. Show all data")
        print("6. Exit")
        choice = input("Choose (1-6): ").strip()

        if choice == "1":
            print("Common items:", c1.intersection(c2, c3))
        elif choice == "2":
            print("All unique items:", c1.union(c2, c3))
        elif choice == "3":
            which = input("Which customer (1/2/3)? ").strip()
            if which == "1":
                print("Unique to Customer 1:", c1.difference(c2, c3))
            elif which == "2":
                print("Unique to Customer 2:", c2.difference(c1, c3))
            elif which == "3":
                print("Unique to Customer 3:", c3.difference(c1, c2))
            else:
                print("Invalid customer")
        elif choice == "4":
            a = input("Compare which two customers? (e.g., 1 2): ").split()
            if len(a) >= 2:
                pair = {a[0].strip(), a[1].strip()}
                if pair == {"1", "2"}:
                    print("Different between c1 & c2:", c1.symmetric_difference(c2))
                elif pair == {"1", "3"}:
                    print("Different between c1 & c3:", c1.symmetric_difference(c3))
                elif pair == {"2", "3"}:
                    print("Different between c2 & c3:", c2.symmetric_difference(c3))
                else:
                    print("Invalid pair")
            else:
                print("Invalid input")
        elif choice == "5":
            print("Customer1:", c1)
            print("Customer2:", c2)
            print("Customer3:", c3)
        elif choice == "6":
            print("Goodbye!")
            break
        else:
            print("Invalid choice, try again.")

if __name__ == "__main__":
    main()

Grocery Store: Unique Customer Items Tracker

Enter items for Customer 1 separated by commas:  milk,bread,jam
Enter items for Customer 2 separated by commas:  rice,oil,dal
Enter items for Customer 3 separated by commas:  bread,butter,oil

Menu:
1. Items purchased by all customers (intersection)
2. All unique items sold today (union)
3. Items unique to a customer (difference)
4. Compare two customers (symmetric difference)
5. Show all data
6. Exit

Choose (1-6):  1

Common items: set()

Menu:
1. Items purchased by all customers (intersection)
2. All unique items sold today (union)
3. Items unique to a customer (difference)
4. Compare two customers (symmetric difference)
5. Show all data
6. Exit