# tuples

In [5]:
py_tuple = ("string")  
print(py_tuple)
print(type(py_tuple))
# this is not the correct way to create a tuple with single element

string
<class 'str'>

In [48]:
# creating an empty tuple 
py_tuple = tuple() 
print(py_tuple)
print(type(py_tuple))

()
<class 'tuple'>

In [1]:
# correct way creating a tuple with single element
py_tuple = (1,)

In [2]:
print(py_tuple)
print(type(py_tuple))

(1,)
<class 'tuple'>

In [6]:
# creating 2D tuples 
py_tuple = ((1,2,3,4),(5,6,7,8))
print(py_tuple)

((1, 2, 3, 4), (5, 6, 7, 8))

In [10]:
# accessing values from tuple using indexing
py_tuple1 = (1,2,3,4,5,(6,7,8))
print(py_tuple1[0])
print(py_tuple1[1])
print(py_tuple1[-1])
print(py_tuple1[-1][1]) # accessing from 2D

1
2
(6, 7, 8)
7

In [11]:
# tuple may contains any type of values
py_tuple1 = (1,2,3,4,5,[6,7,8])
print(py_tuple1[0])
print(py_tuple1[1])
print(py_tuple1[-1])
print(py_tuple1[-1][1]) # accessing from 2D

1
2
[6, 7, 8]
7

In [16]:
# accessing sequence of elements by providing ranges using slicng 
py_tuple2 = (1,2,3,4,5,[6,7,8])
print(py_tuple2[1:])
print(py_tuple2[:])
print(py_tuple2[:4])

(2, 3, 4, 5, [6, 7, 8])
(1, 2, 3, 4, 5, [6, 7, 8])
(1, 2, 3, 4)

In [17]:
# modifying the elements in tuple not possible due to immutability 
py_tuple3 = (1,2,3,4,5) 
py_tuple3[2] = 200 
print(py_tuple3)

TypeError: 'tuple' object does not support item assignment

In [49]:
# deleting a tuple not possible
del py_tuple5[0]

TypeError: 'tuple' object doesn't support item deletion

In [50]:
# but we can delete entire tuple 
del py_tuple5 
print(py_tuple5)

NameError: name 'py_tuple5' is not defined

In [18]:
#iterating tuples  

for i in py_tuple3 : 
    print(i)

1
2
3
4
5

In [19]:
i = 0
while i < len(py_tuple3) : 
    print(py_tuple3[i])
    i+=1

1
2
3
4
5

In [30]:
# common functions on tuples 
py_tuple4 = (1,2,3,4,5,6)
print(len(py_tuple4))
print(type(py_tuple4))
print(sum(py_tuple4))
print(max(py_tuple4))
print(min(py_tuple4))
print(sorted(py_tuple4))
print(sorted(py_tuple4,reverse=True))
print(tuple(reversed(py_tuple4)))

6
<class 'tuple'>
21
6
1
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]
(6, 5, 4, 3, 2, 1)

In [34]:
# tuple functions 
py_tuple5 = (1,2,3,4,5)
print(py_tuple5.index(3))
print(py_tuple5.count(3))

2
1

In [54]:
# tuple unpacking 
a,b,c = (1,2,3)
print("a = ",a,"b = ",b,"c = ",c)

a =  1 b =  2 c =  3

In [46]:
# Mini bus ticket booking using tuples

# seat numbers
seats = (1,2,3,4,5,6,7,8,9,10)

print("Available seats are :", seats)

# If bus is already full
if len(seats) == 0:
    print("Bus full hogaya")
else:
    # Select the seat by passenger
    book_seat = int(input("Select the seat number : "))

    if book_seat in seats:
        print(f"Seat {book_seat} booked successfully")
        updating_seats = list(seats)
        updating_seats.remove(book_seat)
        seats = tuple(updating_seats)
        print("Remaining seats:", seats)
    elif book_seat > max(seats) or book_seat <= 0:
        print("Select the correct seat number")
    else:
        print(f"Seat {book_seat} already booked")

Available seats are : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Select the seat number :  5

Seat 5 booked successfully
Remaining seats: (1, 2, 3, 4, 6, 7, 8, 9, 10)